<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Student Confirmation page</title>
</head>
<body>
<h3>Student  confirmation</h3>

the student is confirmed : <span th:text="${student.firstName} + ' ' + ${student.lastName}"></span>

<br><br>

Country : <span th:text="${student.country}"></span>

<br><br>

Fav Programming Lang. : <span th:text="${student.favouriteLanguage}"></span>

<br><br>

Fav Operating System :
    <!-- <span th:text="${student.opSystem}"> Standard way but,
    to present the selected os in bullet points -->

    <ul>
        <li  th:each="tempOperatingSystem : ${student.opSystem}" th:text="${tempOperatingSystem}"/>
    </ul>

</body>
</html>